-f https://download.pytorch.org/whl/torch_stable.html
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cu110/torch1.7/index.html

torch>=1.7.1+cu110,<2
torchvision>=0.8.2+cu110,<1
timm>=0.4.5,<1
natsort
tensorboard
nltk
h5py
numpy
fastwer>=0.1.3,<2
git+https://github.com/pytorch/fairseq.git#4db264940f281a6f47558d17387b1455d4abd8d9
